# Virtual Environment
venv/

# Environment Variables
.env

# Python compilation cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Gateway
gateway/

# Recorded tick data (written by the ingestion agent)
data/
